<button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your Cutomer Details</ng-template>
      <div 
      fxLayout="row" fxLayoutAlignment="center center"
      fxLayoutGap="40px" 
      >
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="Last name, First name" required>
        <mat-error *ngIf="$_C('firstName') && $_C('firstName').invalid">
          <mat-error *ngIf="$_C('firstName').hasError('required')">Required !</mat-error>
          <mat-error *ngIf="$_C('firstName').hasError('minlength')">Should be greater than 2 characters !</mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last name" required>
        <mat-error *ngIf="$_C('lastName').invalid">
          <mat-error *ngIf="$_C('lastName').hasError('required')">Required !</mat-error>
          <mat-error *ngIf="$_C('lastName').hasError('minlength')">Should be greater than 2 characters !</mat-error>
        </mat-error>
      </mat-form-field>
      </div>
      <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" required>
      <mat-error *ngIf="$_C('email').invalid">
        <mat-error *ngIf="$_C('email').hasError('required')">Required !</mat-error>
        <mat-error *ngIf="$_C('email').hasError('email')">Use example eg:user@example.com</mat-error>
      </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" placeholder="Phone" required>
        <mat-error *ngIf="$_C('phone').invalid">
          <mat-error *ngIf="$_C('phone').hasError('required')">Required !</mat-error>
          <mat-error *ngIf="$_C('phone').hasError('pattern')">Use example eg:0777123123</mat-error>
        </mat-error>
        </mat-form-field>
        <br>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" placeholder="address" required>
        <mat-error *ngIf="$_C('address').invalid">
          <mat-error *ngIf="$_C('address').hasError('required')">Required !</mat-error>
        </mat-error>
        </mat-form-field>
        
          <div 
          fxLayout="row" fxLayoutAlignment="center center"
          fxLayoutGap="40px" 
          >
          <mat-form-field>
          <mat-label>city</mat-label>
          <input matInput formControlName="city" placeholder="city" required>
          <mat-error *ngIf="$_C('city').invalid">
            <mat-error *ngIf="$_C('city').hasError('required')">Required !</mat-error>
          </mat-error>
          </mat-form-field>
          <mat-form-field>
          <mat-label>country</mat-label>
          <input matInput formControlName="country" placeholder="country" required>
          <mat-error *ngIf="$_C('city').invalid">
            <mat-error *ngIf="$_C('city').hasError('required')">Required !</mat-error>
          </mat-error>
          </mat-form-field>
        </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Device Details</ng-template>
      <div>
      <img src="assets/images/device.jpg" alt="Device" width="100" height="65">
      </div>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" placeholder="Quantity" required>
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Status</ng-template>
    <p *ngIf="isPaymentStatus" style="color:green">Payment Success</p>
    <p *ngIf="!isPaymentStatus" style="color:red">Payment Pending</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>